.card:hover {
    transform: scale(1.1);
    border: 1px solid var(--primary) !important;
    box-shadow: 0 10px 24px var(--shadow) !important;
    transition: transform .4s ease, border-color .4s ease, box-shadow .4s ease;
}
